.add__cart:hover {
  background-color: #00b37d !important;
  border: none;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.card-img-top {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card-img-top:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 11;
  }
